:root {
  --light: #fafafa;
  --grey: #615f62;
  --dark: #2d2b2f;
  --blue: #678ef1;
  --red: #ed5f73;
  --green: #1ba672;
  --yellow: #f5bd57;
}

body {
  background: var(--light);
  color: var(--dark);
}
