header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* tag nav */
.navigation-competition {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1em;
}

.competition-name--list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.competition-list--item {
  background: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 1.25em;
  color: rgba(45, 43, 47, 0.75);
  flex: 0 0 auto;
  font-size: 0.85em;
  padding: 0.5em 1em;
}

.competition-list--item__active {
  background: none;
}

.competition-list--item:not(:nth-child(1)) {
  margin-left: 1em;
}

/* container */

.container {
  height: 100%;
  padding: 1em;
}

.container-heading {
  align-items: center;
  display: flex;
  margin-bottom: 1.25em;
  padding-left: 1em;
  position: relative;
}

.container-heading i {
  font-size: 1em;
  margin-right: 0.75em;
}

.match-heading::before {
  background: var(--red);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 2px;
}

.league-heading::before {
  background: var(--blue);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 2px;
}

.detail-heading::before {
  background: var(--green);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 2px;
}

.odds-heading::before {
  background: var(--yellow);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 2px;
}

.league-list,
.match-list {
  border-bottom: 1px solid rgba(45, 43, 47, 0.09);
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  width: 100%;
}

.match-list > span {
  color: var(--grey);
  font-size: 1em;
  margin: 0 auto;
  opacity: 0.5;
}

.league,
.match {
  border-radius: 1em;
  box-shadow: 0 5px 15px rgba(45, 43, 47, 0.09), 0 5px 10px rgba(45, 43, 47, 0.03);
  margin-bottom: 1.5em;
  overflow: hidden;
  position: relative;
  padding: 1.25em 1em;
  width: 100%;
}

.match-team {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.25em 0em;
}

.match-away--team {
  color: var(--grey);
}

.match-status {
  color: var(--grey);
  font-size: 0.8em;
  text-transform: uppercase;
}

.match-details {
  border-radius: 1em;
  box-shadow: 0 5px 15px rgba(45, 43, 47, 0.09), 0 5px 10px rgba(45, 43, 47, 0.03);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 1.5em;
  width: 100%;
}

.match-details--team {
  text-align: center;
}

.match-details--team:nth-child(1),
.match-details--team:nth-child(3) {
  width: 35%;
}

.match-details--score {
  align-self: center;
  text-align: center;
  width: 30%;
}

.match-details--score .match-details--status {
  font-size: 0.75em;
  font-weight: 400;
}

.match-details--score span:nth-child(2) {
  margin: 0 0.5em;
}

.match-details--score span {
  color: var(--grey);
  font-size: 1.25em;
  font-weight: 600;
}

.match-details--logo {
  max-height: 4em;
  max-width: 4em;
}

.match-details--name {
  font-size: 0.9em;
  font-weight: 400;
  margin-top: 0.5em;
}

.match-venue {
  margin-top: 1.5em;
  width: 100%;
}

.match-venue p {
  color: var(--grey);
  font-size: 0.9em;
}

.match-venue p:first-child {
  margin-bottom: 0.5em;
}

.offline {
  align-items: center;
  display: flex;
  height: 80vh;
  flex-direction: column;
  justify-content: center;
}

.offline > span {
  align-items: center;
  color: var(--grey);
  display: flex;
  font-family: var(--font-heading);
  font-size: 1.5em;
  text-transform: uppercase;
}

.offline-flag {
  animation: color 1s infinite alternate;
  font-size: 1.25em;
  padding-right: 1em;
}

.offline > p {
  margin-top: 3em;
}
