@import 'reset.css';
@import 'colour.css';
@import 'typography.css';

/* header */

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* tag nav */
.navigation-competition {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1em;
}

.competition-name--list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.competition-list--item {
  background: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 1.25em;
  color: rgba(45, 43, 47, 0.75);
  flex: 0 0 auto;
  font-size: 0.85em;
  padding: 0.5em 1em;
}

.competition-list--item__active {
  background: none;
}

.competition-list--item:not(:nth-child(1)) {
  margin-left: 1em;
}

/* container */

.container {
  padding: 1em;
}

.container-heading {
  align-items: center;
  display: flex;
  margin-bottom: 1em;
  padding-left: 1em;
  position: relative;
}

.container-heading i {
  font-size: 1em;
  margin-right: 0.75em;
}

.match-heading::before {
  background: var(--red);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 2px;
}

.league-heading::before {
  background: var(--blue);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  width: 2px;
}

.league-list,
.match-list {
  border-bottom: 1px solid rgba(45, 43, 47, 0.09);
  margin-bottom: 1.5em;
}

.league,
.match {
  background: white;
  border-radius: 1em;
  box-shadow: 0 5px 15px rgba(45, 43, 47, 0.09), 0 5px 10px rgba(45, 43, 47, 0.03);
  margin-bottom: 2em;
  padding: 1.25em 1em;
}
