.league-details--table {
  border-collapse: separate;
  border-spacing: 1em;
  width: 100%;
}

.league-details--table tr:not(:first-child) {
  height: 3em;
  border-radius: 1em;
  box-shadow: 0 5px 15px rgba(45, 43, 47, 0.09), 0 5px 10px rgba(45, 43, 47, 0.03);
  font-size: .8em;
  margin-bottom: 1em;
}

.league-details--table th,
.league-details--table td {
  padding: 0.5em 0.25em;
  text-align: left;
}

.league-details--table th {
  color: var(--grey);
  font-size: 0.9em;
  font-weight: 400;
}

.league-details--table th:last-of-type,
.league-details--table td:last-of-type {
  text-align: right;
}

.league-details--table td:not(:nth-child(2)) {
  color: var(--grey);
}
