:root {
  --light: #fafafa;
  --dark: #2d2b2f;
  --blue: #678EF1;
  --red: #ED5F73;
  --green: #1BA672;
  --yellow: #F5BD57;

  --font-body: 'Noto Sans', sans-serif;
  --font-heading: 'Sen', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: var(--font-body);
  font-size: 16px;
  margin: 0;
}

/* reset */
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 1.25em;
  font-weight: 500;
}

i {
  font-size: 1.5em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* header */
header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

/* tag nav */
.navigation-tag {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding: 1em;
}

.navigation-tag--list {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.tag-list--item {
  background: var(--yellow);
  border: 2px solid var(--yellow);
  border-radius: 1.25em;
  color: rgba(45, 43, 47, 0.75);
  flex: 0 0 auto;
  font-size: .85em;
  padding: .5em 1em;
}

.tag-list--item-active {
  background: none;
}

.tag-list--item:not(:nth-child(1)) {
  margin-left: 1em;
}

