<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %> 
    <title>PWA</title>
  </head>
  <body>
    <%- include ('./../partials/header') %> 
    <%- include ('./../partials/tag-nav') %> 
    <%- include ('./../partials/footer') %> 
  </body>
</html>
