<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
    <title>PWA</title>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <main class="container">
    </main>
    <%- include ('./../partials/footer') %>
  </body>
</html>
