<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./../partials/head') %>
    <title>PWA</title>
  </head>
  <body>
    <%- include ('./../partials/header') %>
    <main class="container">
      <section class="offline">
        <span><i class="ms-Icon ms-Icon--Flag offline-flag"></i>You are offside!</span>
        <p>It seems like you are lost your internet connection.</p>
      </section>
    </main>
    <%- include ('./../partials/footer') %>
  </body>
</html>
