<nav class="navigation navigation-competition">
  <ul class="competition-name--list">
    <!-- competitions needs to come from the api -->
    <li class="competition-list--item competition-list--item__active">All competitions</li>
    <li class="competition-list--item">Premier League</li>
    <li class="competition-list--item">Premiera Division</li>
    <li class="competition-list--item">Serie A</li>
    <li class="competition-list--item">Eredivisie</li>
  </ul>
</nav>