<nav class="navigation navigation-tag">
  <ul class="navigation-tag--list">
    <!-- competitions needs to come from the api -->
    <li class="tag-list--item tag-list--item-active">All competitions</li>
    <li class="tag-list--item">Premier League</li>
    <li class="tag-list--item">Premiera Division</li>
    <li class="tag-list--item">Serie A</li>
    <li class="tag-list--item">Eredivisie</li>
  </ul>
</nav>